.add {
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.17);

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;

    z-index: 10;
}

.add > form {
    width: 1000px;
    height: 650px;

    border-radius: 10px;

    background-color: #FFF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 날짜, 내용 input */
.date_input {
    width: 880px;
    height: 50px;

    margin-bottom: 15px;

    padding-left: 10px;

    border: 1px solid #A6A6A6;
    border-radius: 8px;
}

.content_input {
    width: 880px;
    height: 400px;

    margin-bottom: 25px;

    padding-left: 10px;

    border: 1px solid #A6A6A6;
    border-radius: 8px;
}

/* 일정 추가 버튼 */
.add_list {
    width: 105px;
    height: 40px;

    font-size: 18px;

    margin-left: 790px;

    border: 0;
    border-radius: 40px;

    color: #FFF;
    background-color: #325280;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.add_list:hover {
    cursor: pointer;
}